<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Charmander</title>
    <link rel="shortcut icon" href="../img/charmander.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
<style>
    body{
        background-color: red;
        font-family: 'Quicksand', sans-serif;
    }
    
    a{
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: brown;
        border-radius: 5px;
    }

    img{
        width: 25%;
    }

    span{
        background-color: orangered;
        padding: 2px;
        border-radius: 5px;
    }

    #enlace{
        text-align: center;
    }
</style>

</head>

<body>
    <h1>Charmander</h1> 
    <img src="../img/charmander.png" alt="charmander" style="width: 20%;">
    <p>Descripcion: </p>
    <p>tipo: <span>fuego</span></p>
    <p>Charmander es un Pokémon de tipo fuego introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Bulbasaur y Squirtle, excepto en Pokémon Amarillo y Pokémon: Let's Go, Pikachu! y Pokémon: Let's Go, Eevee!</p>
    <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>
</html>