<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Squirtle</title>
    <link rel="shortcut icon" href="../img/squirtle.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<style>
    body{
        background-color: aqua;
        font-family: 'Quicksand', sans-serif;
    }
    
    a{
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: darkblue;
        border-radius: 5px;
    }

    img{
        width: 25%;
    }

    span{
        background-color: blue;
        padding: 2px;
        border-radius: 5px;
    }

    #enlace{
        text-align: center;
    }
</style>
</head>

<body>
<h1>Squirtle</h1>
<img src="../img/squirtle.png" alt="squirtle">  
<p>Descripcion: </p> 
<p>tipo: <span>agua</span></p>
<p>Squirtle es un Pokémon de tipo agua introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Bulbasaur y Charmander, excepto en Pokémon Amarillo.</p>
<p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>
</html>